<a href="{{ product.url }}" class="tw-group tw-w-full">
  <div class="tw-flex tw-flex-col">
    <div class="tw-aspect-3/4 tw-w-full tw-overflow-hidden tw-transition-transform">
      {{
        product.featured_image
        | image_url: width: 800
        | image_tag:
          class: 'tw-w-full tw-h-full tw-transition-transform tw-duration-500 group-hover:tw-scale-105 tw-object-cover'
      }}
    </div>
    <div class="tw-flex tw-flex-col">
      <div class="tw-flex tw-justify-between tw-pt-2">
        <span class="tw-text-10 tw-leading-none md:tw-text-14">{{ product.title }}</span>
        <span class="tw-text-10 md:tw-text-14">{{ product.price | money }}</span>
      </div>
      <div class="-tw-mt-0.5 tw-font-poppins tw-text-10 tw-italic tw-leading-none tw-text-brand-gray md:tw-text-12">
        {{ product.metafields.custom.product_brand.value.name }}
      </div>
    </div>
  </div>
</a>
