<a href="{{ product.url }}" class="tw-w-full tw-group">
  <div class="tw-flex tw-flex-col">
    <div class="tw-overflow-hidden tw-w-full tw-transition-transform tw-aspect-3/4">
      {{ product.featured_image | image_url: width: 800 | image_tag: class: 'tw-w-full tw-h-full tw-transition-transform tw-duration-500 group-hover:tw-scale-105 tw-object-cover' }}
    </div>
    <div class="tw-flex tw-flex-col">
      <div class="tw-flex tw-pt-2 tw-justify-between">
        <span class="tw-text-14">{{ product.title }}</span>
        <span class="tw-text-14">{{ product.price | money }}</span>
      </div>
      <div class="tw-font-poppins tw-text-12 tw-italic -tw-mt-2 tw-text-brand-gray">
        {{ product.metafields.custom.product_brand.value.name }}
      </div>
    </div>
  </div>
</a>