<div class="tw-p-1">
  {%- liquid
    # theme-check-disable
    capture content_for_query_string
      echo content_for_header
    endcapture
  -%}

  {% assign get_full_url = content_for_query_string
 | split: '"pageurl":"'
 | last
 | split: '"'
 | first
 | split: '.myshopify.com'
 | last
 | replace: '\/', '/'
 | replace: '%20', ' '
 | replace: '\u0026', '&'
 | replace: collection.url, ''
 | replace: 'feltright.com', ''
  %}

  <a
    {% assign filter_change = block.settings.filter_type | append: block.settings.tag | replace: ' ', '+' %}
    {% if get_full_url contains '?' %}
    {% assign query_params = get_full_url | replace: '?', '' | replace: '_fd=0&pb=0&', '' | split: '&' %}
    {% if query_params contains filter_change %}
    {% assign new_params = '' %}
    {% for param in query_params %}
    {% unless forloop.last and param == filter_change %}
    {% assign new_params = new_params | append: '&' %}
    {% endunless %}
    {% if param != filter_change %}
    {% assign new_params = new_params | append: param %}
    {% endif %}
    {% endfor %}
    href="{{ collection.url |  append: '?' |  append: new_params | replace: '&&', '&' | replace: '?&', '?' }}"
    {% else %}
    href="{{ collection.url }}?{{ query_params |  join: '&' | append: '&' | append: filter_change }}"
    {% endif %}
    {% else %}
    href="{{ collection.url }}{%- if block.settings.tag != 'all' -%}?{{ block.settings.filter_type }}{{ block.settings.tag | replace: ' ', '+'}}{%- endif -%}"
    {% endif %}
    class="tw-flex tw-justify-center tw-w-full tw-items-middle tw-gap-2 tw-group">
    <div class="tw-border group-hover:tw-border-blue-light  tw-border-black tw-size-4 tw-aspect-square tw-p-0.5 tw-my-auto">
      <svg class="group-hover:tw-fill-blue-light {% unless get_full_url contains filter_change %} tw-hidden {% endunless %}" viewBox="0 0 448 512">
        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
      </svg>
    </div>

    <p class="tw-font-bold group-hover:tw-underline tw-text-14 tw-w-full">
      {{ block.settings.title }}
    </p>
  </a>
</div>

{% schema %}
  {
    "name": "Collection Filter",
    "settings": [
      {
        "type": "text",
        "id": "tag",
        "label": "Collection Tag"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Link Title",
        "default": "Filter Title"
      },
      {
        "type": "select",
        "id": "filter_type",
        "label": "Filter Type",
        "default": "filter.p.tag=",
        "options": [
          {
            "value": "filter.p.tag=",
            "label": "Product Tag"
          },
          {
            "value": "filter.v.price.lte=",
            "label": "Product Price (Less Than)"
          },
          {
            "value": "filter.v.price.gte=",
            "label": "Product Price (Greater Than)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Filter"
      }
    ]
  }
{% endschema %}