<!-- Selector Button -->
<button class="tw-w-full tw-p-4 tw-px-12">{{ block.settings.text }}</button>
<!-- Dropdown -->
<div class="tw-absolute tw-z-10 group-hover:tw-block group-focus:tw-block group-focus-within:tw-block tw-hidden tw-top-full tw-border-y-2 tw-border-black tw-left-0 tw-w-full tw-bg-white tw-overflow-hidden">
  <div class="tw-max-w-screen-2xl tw-mx-auto tw-flex tw-h-[450px]">
    <!-- Left Map -->
    <div class="tw-p-12 tw-border-r-2 tw-w-fit">
      {% render 'map-links' %}
    </div>
    <!-- Right Locations -->
    <div class="tw-flex tw-flex-col tw-relative tw-w-full tw-px-12">
      <span aria-hidden class="tw-absolute tw-h-[400px] tw-top-0 tw-left-0 tw-border-b-2 tw-w-screen -tw-z-20"></span>
      <div class="tw-p-14 tw-flex tw-flex-col tw-flex-wrap tw-gap-y-8 tw-gap-x-32 tw-h-[400px] tw-w-fit">
        {% for link in block.settings.link_list.links %}
          <div class="tw-flex tw-flex-col tw-gap-2 tw-basis-1/12 tw-relative">
            <a href="{{ link.url }}" class="tw-font-poppins tw-text-20 tw-font-bold">
              {{ link.title }}
            </a>
            {% for sub_link in link.links %}
              <a href="{{ sub_link.url }}" class="tw-text-18 tw-capitalize">
                {{ sub_link.title }}
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <a href="/products" class="tw-text-24 tw-w-full tw-text-center tw-font-bold tw-my-auto">
        Shop Nationwide
      </a>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Navigation Map Selector",
    "tag": "div",
    "class": "tw-group",

    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Link"
      },
      {
        "type": "link_list",
        "id": "link_list",
        "label": "Location Links"
      }
    ],
    "presets": [
      {
        "name": "Navigation Map Selector"
      }
    ]
  }
{% endschema %}