<style>
  #shopify-block-{{ block.id }} {
    margin: {{ block.settings.margin-top }}rem{{ block.settings.margin-right }}rem{{ block.settings.margin-bottom }}rem{{ block.settings.margin-left }}rem;
  }
</style>

<a
  role="button"
  href="{{ block.settings.url }}"
  class="
    {% if block.settings.align == 'end' %} !tw-justify-self-end
    {% elsif block.settings.align == 'start' %} !tw-justify-self-start
    {% else %} !tw-justify-self-center
    {% endif %}
    {% if block.settings.type == 'white' %} tw-bg-white tw-text-black hover:tw-text-black tw-border-white 
    {% elsif block.settings.type == 'outlinedWhite' %} tw-border-white tw-text-white tw-bg-transparent hover:tw-text-white hover:tw-bg-black hover:tw-bg-opacity-20
    {% elsif block.settings.type == 'outlinedBlack' %} tw-border-black tw-text-black tw-bg-transparent hover:tw-text-black hover:tw-bg-white hover:tw-bg-opacity-20
    {% else %} tw-bg-black hover:tw-bg-offblack hover:tw-border-offblack tw-border-black tw-text-white
    {% endif %}
    {% if block.settings.fullwidth %} tw-w-full {% else %} tw-w-full tw-max-w-96 {% endif %}
    tw-flex tw-justify-center tw-border tw-py-2 tw-px-10 tw-transition-button duration-200 ease-in-out tw-font-semibold tw-font-poppins hover:tw-scale-[105%]
  ">
  {{ block.settings.text }}
</a>

{% schema %}
  {
    "name": "Button",
    "tag": "div",
    "class": "tw-w-full",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Button Text",
        "default": "Click Me"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "type",
        "label": "Button Style",
        "options": [
          {
            "value": "black",
            "label": "Black (default)"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "outlinedWhite",
            "label": "Outlined White"
          },
          {
            "value": "outlinedBlack",
            "label": "Outlined Black"
          }
        ],
        "default": "black"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Text Alignment",
        "options": [
          {
            "value": "center",
            "label": "Center (default)"
          },
          {
            "value": "start",
            "label": "Start"
          },
          {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "range",
        "id": "margin-left",
        "label": "margin left",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin-right",
        "label": "margin right",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin-top",
        "label": "margin top",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin-bottom",
        "label": "margin bottom",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Default Button",
        "settings": {
          "text": "Click Me",
          "url": "#",
          "type": "black",
          "align": "center",
          "fullwidth": false
        }
      }
    ]
  }
{% endschema %}