<style>
  .padding-{{ block.id }} {
    padding: {{ block.settings.mobile-padding-top }}rem {{ block.settings.mobile-padding-right }}rem {{ block.settings.mobile-padding-bottom }}rem {{ block.settings.mobile-padding-left }}rem;
  }
  @media screen and (min-width: 768px) {
    .padding-{{ block.id }} {
      padding: {{ block.settings.padding-top }}rem {{ block.settings.padding-right }}rem {{ block.settings.padding-bottom }}rem {{ block.settings.padding-left }}rem;
    }
  }
</style>

<div
  class="
    padding-{{ block.id }}
    tw-w-full tw-flex tw-flex-row tw-gap-4 tw-text-center
    {% if block.settings.justify == 'center' %} tw-justify-center
    {% elsif block.settings.justify == 'end' %} tw-justify-end
    {% elsif block.settings.justify == 'between' %} tw-justify-between
    {% elsif block.settings.justify == 'start' %} tw-justify-start {% endif %}
    {% if block.settings.align == 'center' %} tw-align-center
    {% elsif block.settings.align == 'end' %} tw-align-end
    {% elsif block.settings.align == 'start' %} tw-align-start {% endif %}
  "
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Row",
  "class": "tw-w-full",
  "settings": [
    {
      "type": "select",
      "id": "align",
      "label": "Alignment",
      "options": [
        { "value": "start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "End" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "justify",
      "label": "Justification",
      "options": [
        { "value": "start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "between", "label": "Between" },
        { "value": "end", "label": "End" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "padding-left",
      "label": "padding left",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "padding-right",
      "label": "padding right",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "padding top",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "padding bottom",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile-padding-left",
      "label": "mobile padding left",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile-padding-right",
      "label": "mobile padding right",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile-padding-top",
      "label": "mobile padding top",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile-padding-bottom",
      "label": "mobile padding bottom",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [{ "type": "@theme" }],
  "presets": [
    {
      "name": "Row",
      "blocks": []
    }
  ]
}
{% endschema %}
