{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

{% paginate search.results by 24 %}
  <div class="">
    <div class="tw-mb-24 tw-mt-12">
      <h1 class="tw-w-full tw-text-center !tw-font-noto tw-text-36 tw-font-semibold tw-leading-tight md:tw-text-48">
        {%- if search.performed -%}
          {{- 'templates.search.title' | t -}}
        {%- else -%}
          {{- 'general.search.search' | t -}}
        {%- endif -%}
      </h1>
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        class="tw-relative tw-mx-auto tw-mt-8 tw-h-full tw-w-full tw-max-w-lg tw-px-6 tw-py-1.5"
      >
        <button class="tw-top-1/2 md:tw-absolute md:tw-left-8 md:-tw-translate-y-1/2">
          {% render 'icon-search' %}
        </button>
        <label>
          <span class="tw-sr-only">Enter Search Term</span>
          <input
            placeholder="Enter Search term"
            class="tw-h-full tw-w-full tw-border tw-border-black  tw-py-4 tw-pl-12 tw-pr-12 tw-text-14 tw-font-medium tw-tracking-wider placeholder:tw-uppercase max-md:tw-hidden"
            value="{{ search.terms | escape }}"
            name="q"
          >
          <input type="hidden" name="type" value="product,page,article">
          <input type="hidden" name="options[unavailable_products]" value="hide">
          <input type="hidden" name="options[prefix]" value="last">
        </label>
      </form>

      {%- if search.performed -%}
        {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
          {%- if search.results_count > 0 -%}
            <p role="status" class="tw-mt-2 tw-text-center">
              {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
            </p>
          {%- endif -%}
        {%- endunless -%}
        {%- if search.results_count == 0 and search.filters == empty -%}
          <p role="status" class="tw-mt-2 tw-text-center">
            {{ 'templates.search.no_results' | t: terms: search.terms }}
          </p>
        {%- endif -%}
      {%- endif -%}
    </div>

    {%- if search.performed and search.results.size != 0 -%}
      <div
        class="-tw-mt-12 tw-mb-36"
      >
        <ul
          class="tw-mx-auto tw-grid tw-max-w-screen-xl tw-grid-cols-2 tw-gap-8 md:tw-grid-cols-3 xl:tw-grid-cols-4"
          role="list"
        >
          {%- for item in search.results -%}
            <li>
              {%- case item.object_type -%}
                {%- when 'product' -%}
                  {% render 'ud-product-card', product: item %}
                {%- when 'article' -%}
                  {% render 'ud-article-card', article: item, hide_excerpt: true %}
                {%- when 'page' -%}
                  <div class="animated-button animated-button--hover-white tw-flex tw-h-full tw-flex-col tw-items-center tw-justify-center tw-border-4 tw-border-double tw-border-white tw-bg-brand-navy tw-text-white">
                    <h3 class="">
                      <a
                        href="{{ item.url }}"
                        class="tw-font-noto tw-text-24 tw-text-[inherit] before:tw-absolute before:tw-inset-0 before:tw-content-[''] md:tw-text-36"
                      >
                        {{ item.title | truncate: 50 | escape }}
                      </a>
                    </h3>
                    <p class="tw-font-poppins">(Page)</p>
                  </div>
              {%- endcase -%}
            </li>
          {%- endfor -%}
        </ul>
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate %}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
