<div>
  <div class="tw-relative tw-isolate tw-grid tw-items-end {% if collection.metafields.custom.featured_image.value %} tw-aspect-[4/3]  md:tw-aspect-[17/5] {% else %} tw-pt-12 tw-bg-black/80{% endif %}">
    <div class="tw-relative tw-col-start-1 tw-row-start-1 tw-h-full tw-w-full tw-items-end tw-overflow-hidden">
      {% if collection.metafields.custom.featured_image.value %}
        <div class="tw-absolute tw-inset-0 tw-bg-gradient-to-t tw-from-black/80"></div>
        {{
          collection.metafields.custom.featured_image.value
          | image_url: width: 3840
          | image_tag: class: 'tw-w-full tw-h-full tw-object-cover'
        }}
      {% endif %}
    </div>
    <div class="tw-z-10 tw-col-start-1 tw-row-start-1 tw-mx-auto tw-flex tw-w-full tw-max-w-screen-xl tw-items-center tw-gap-x-8 tw-px-5 tw-pb-9">
      <div class="tw-flex tw-aspect-square tw-size-14 tw-items-center tw-justify-center tw-bg-white">
        {{ collection.featured_image | image_url: width: 60 | image_tag: class: 'tw-w-full' }}
      </div>
      <h2 class="tw-grow tw-font-noto tw-text-24 tw-font-semibold tw-text-white md:tw-text-36">
        {{ collection.title }}
      </h2>
    </div>
  </div>
  <div class="tw-text-black md:tw-border-b">
    <div class="tw-mx-auto tw-grid tw-max-w-screen-xl tw-text-black md:tw-grid-cols-2 md:tw-px-5">
      {% if collection.metafields.custom.brand_history %}
        <div class="tw-h-full tw-px-12 tw-py-12 max-md:tw-hidden max-md:tw-border-b max-md:tw-px-5 md:tw-border-r">
          <h3 class="tw-font-poppins tw-text-14 tw-font-semibold tw-uppercase tw-tracking-wider">Brand History</h3>
          <div class="tw-text-poppins tw-text-normal tw-mt-2 tw-text-12">
            {{ collection.metafields.custom.brand_history | metafield_tag }}
          </div>
        </div>
        <details class="tw-group tw-border-b tw-px-5 open:tw-pb-4 md:tw-hidden md:tw-pl-12 xl:tw-pl-20 [&+h3]:tw-mt-8">
          <summary class="tw-flex tw-max-w-3xl tw-items-center tw-justify-between tw-py-7 group-open:-tw-mb-2 group-open:tw-pb-0">
            <h4 class="tw-font-poppins tw-text-14 tw-font-semibold tw-uppercase tw-tracking-wider">Brand History</h4>
            <span>
              <span class="tw-block tw-size-2.5 group-open:tw-hidden md:tw-size-4">{% render 'icon-plus' %}</span>
              <span class="tw-hidden tw-size-2.5 group-open:tw-block md:tw-size-4">{% render 'icon-minus' %}</span>
            </span>
          </summary>
          <div class="rich-text tw-prose prose-p:tw-text-14 prose-ol:tw-text-14 prose-ul:tw-text-14 prose-table:tw-text-14">
            {{ collection.metafields.custom.brand_history | metafield_tag }}
          </div>
        </details>
      {% endif %}
      {% if collection.metafields.custom.more_information %}
        <div class="tw-h-full tw-px-12 tw-py-12 max-md:tw-hidden max-md:tw-px-5">
          <h3 class="tw-font-poppins tw-text-14 tw-font-semibold tw-uppercase tw-tracking-wider">More Information</h3>
          <div class="tw-text-poppins tw-text-normal tw-mt-2 tw-text-12">
            {{ collection.metafields.custom.more_information | metafield_tag }}
          </div>
        </div>
        <details class="tw-group tw-border-b tw-px-5 open:tw-pb-4 md:tw-hidden md:tw-pl-12 xl:tw-pl-20 [&+h3]:tw-mt-8">
          <summary class="tw-flex tw-max-w-3xl tw-items-center tw-justify-between tw-py-7 group-open:-tw-mb-2 group-open:tw-pb-0">
            <h4 class="tw-font-poppins tw-text-14 tw-font-semibold tw-uppercase tw-tracking-wider">More Information</h4>
            <span>
              <span class="tw-block tw-size-2.5 group-open:tw-hidden md:tw-size-4">{% render 'icon-plus' %}</span>
              <span class="tw-hidden tw-size-2.5 group-open:tw-block md:tw-size-4">{% render 'icon-minus' %}</span>
            </span>
          </summary>
          <div class="rich-text tw-prose prose-p:tw-text-14 prose-ol:tw-text-14 prose-ul:tw-text-14 prose-table:tw-text-14">
            {{ collection.metafields.custom.more_information | metafield_tag }}
          </div>
        </details>
      {% endif %}
    </div>
  </div>
  <div class="tw-mx-auto tw-grid tw-max-w-screen-xl tw-grid-cols-2 tw-gap-x-2.5 tw-gap-y-6 tw-px-5 tw-py-10 md:tw-grid-cols-3 xl:tw-grid-cols-4">
    {% for product in collection.products %}
      {% render 'ud-product-card', product: product %}
    {% endfor %}
  </div>
</div>
