<footer class="tw-bg-brand-Beige tw-text-black">
  <div class="tw-mx-auto tw-flex tw-max-w-screen-2xl tw-flex-col tw-items-center tw-justify-center md:tw-grid md:tw-grid-cols-[auto_1fr_auto] md:tw-px-8 lg:tw-px-16 xl:tw-px-20">
    <!-- Logo -->
    <div class="tw-flex tw-h-full max-md:tw-mt-9 max-md:tw-justify-center max-md:tw-px-5 md:tw-items-center md:tw-justify-end md:tw-border-r md:tw-border-black md:tw-py-20 md:tw-pr-8 xl:tw-pr-20 ">
      <div class="max-md:tw-hidden">{% render 'icon-logo-footer' %}</div>
      <div class="tw-text-brand-navy md:tw-hidden">{% render 'icon-logo' %}</div>
    </div>

    <!-- Newsletter Signup -->
    <div class="tw-flex tw-h-full tw-flex-col tw-items-center tw-justify-center tw-font-poppins tw-text-12 max-md:tw-mt-9 max-md:tw-px-5 max-md:tw-text-center md:tw-border-r md:tw-border-black md:tw-px-8 md:tw-py-20 md:tw-text-14 lg:tw-px-16 xl:tw-px-28 ">
      <div class="tw-w-full">
        <h3 class="tw-font-poppins tw-text-12 tw-font-semibold tw-uppercase tw-tracking-wider md:tw-text-14">
          Join for 10% off your next order
        </h3>
        <p>Exclusive discounts, new product alerts, and more!</p>
        {% form 'customer', class: 'tw-mt-4' %}
          {% if form.posted_successfully? != true %}
            <div class="tw-bg-green-100 tw-text-green-700 tw-mb-4 tw-rounded tw-p-3">
              Thank you for subscribing! You'll receive 10% off your next order.
            </div>
          {% endif %}

          {% if form.errors %}
            <div class="tw-bg-red-100 tw-text-red-700 tw-mb-4 tw-rounded tw-p-3">
              {% for field in form.errors %}
                {{ form.errors[field] | first }}
              {% endfor %}
            </div>
          {% endif %}

          <input type="hidden" name="contact[tags]" value="newsletter">

          <div>
            <label class="tw-relative tw-w-full">
              <input
                type="email"
                name="contact[email]"
                class="tw-peer tw-w-full tw-border tw-border-black tw-bg-[transparent] tw-px-4 tw-py-3"
                required
                placeholder=""
                value="{% if form.email %}{{ form.email }}{% endif %}"
              >
              <span
                class="
                  tw-absolute tw-left-4 tw-top-1/2 -tw-translate-y-1/2 tw-text-black tw-transition-all
                  peer-focus:-tw-top-2 peer-focus:tw-text-10
                  peer-[:not(:placeholder-shown)]:-tw-top-2 peer-[:not(:placeholder-shown)]:tw-text-10
                "
                >Email Address<span class="tw-text-[#d40000]">*</span>
              </span>
            </label>
          </div>
          <div class="tw-mt-2.5 tw-flex tw-gap-x-2.5">
            <label class="tw-relative tw-w-1/2 tw-grow">
              <select
                name="contact[state]"
                class="tw-peer tw-w-full tw-border tw-border-black tw-bg-[transparent] tw-px-4 tw-py-3 tw-text-black [&>option:disabled]:tw-text-black"
              >
                <option
                  value=""
                  disabled
                  {% unless form.state %}
                    selected
                  {% endunless %}
                  hidden
                >
                  State
                </option>
                <option
                  value="AL"
                  {% if form.state == 'AL' %}
                    selected
                  {% endif %}
                >
                  Alabama
                </option>
                <option
                  value="AK"
                  {% if form.state == 'AK' %}
                    selected
                  {% endif %}
                >
                  Alaska
                </option>
                <option
                  value="AZ"
                  {% if form.state == 'AZ' %}
                    selected
                  {% endif %}
                >
                  Arizona
                </option>
                <option
                  value="AR"
                  {% if form.state == 'AR' %}
                    selected
                  {% endif %}
                >
                  Arkansas
                </option>
                <option
                  value="CA"
                  {% if form.state == 'CA' %}
                    selected
                  {% endif %}
                >
                  California
                </option>
                <option
                  value="CO"
                  {% if form.state == 'CO' %}
                    selected
                  {% endif %}
                >
                  Colorado
                </option>
                <option
                  value="CT"
                  {% if form.state == 'CT' %}
                    selected
                  {% endif %}
                >
                  Connecticut
                </option>
                <option
                  value="DE"
                  {% if form.state == 'DE' %}
                    selected
                  {% endif %}
                >
                  Delaware
                </option>
                <option
                  value="DC"
                  {% if form.state == 'DC' %}
                    selected
                  {% endif %}
                >
                  District Of Columbia
                </option>
                <option
                  value="FL"
                  {% if form.state == 'FL' %}
                    selected
                  {% endif %}
                >
                  Florida
                </option>
                <option
                  value="GA"
                  {% if form.state == 'GA' %}
                    selected
                  {% endif %}
                >
                  Georgia
                </option>
                <option
                  value="HI"
                  {% if form.state == 'HI' %}
                    selected
                  {% endif %}
                >
                  Hawaii
                </option>
                <option
                  value="ID"
                  {% if form.state == 'ID' %}
                    selected
                  {% endif %}
                >
                  Idaho
                </option>
                <option
                  value="IL"
                  {% if form.state == 'IL' %}
                    selected
                  {% endif %}
                >
                  Illinois
                </option>
                <option
                  value="IN"
                  {% if form.state == 'IN' %}
                    selected
                  {% endif %}
                >
                  Indiana
                </option>
                <option
                  value="IA"
                  {% if form.state == 'IA' %}
                    selected
                  {% endif %}
                >
                  Iowa
                </option>
                <option
                  value="KS"
                  {% if form.state == 'KS' %}
                    selected
                  {% endif %}
                >
                  Kansas
                </option>
                <option
                  value="KY"
                  {% if form.state == 'KY' %}
                    selected
                  {% endif %}
                >
                  Kentucky
                </option>
                <option
                  value="LA"
                  {% if form.state == 'LA' %}
                    selected
                  {% endif %}
                >
                  Louisiana
                </option>
                <option
                  value="ME"
                  {% if form.state == 'ME' %}
                    selected
                  {% endif %}
                >
                  Maine
                </option>
                <option
                  value="MD"
                  {% if form.state == 'MD' %}
                    selected
                  {% endif %}
                >
                  Maryland
                </option>
                <option
                  value="MA"
                  {% if form.state == 'MA' %}
                    selected
                  {% endif %}
                >
                  Massachusetts
                </option>
                <option
                  value="MI"
                  {% if form.state == 'MI' %}
                    selected
                  {% endif %}
                >
                  Michigan
                </option>
                <option
                  value="MN"
                  {% if form.state == 'MN' %}
                    selected
                  {% endif %}
                >
                  Minnesota
                </option>
                <option
                  value="MS"
                  {% if form.state == 'MS' %}
                    selected
                  {% endif %}
                >
                  Mississippi
                </option>
                <option
                  value="MO"
                  {% if form.state == 'MO' %}
                    selected
                  {% endif %}
                >
                  Missouri
                </option>
                <option
                  value="MT"
                  {% if form.state == 'MT' %}
                    selected
                  {% endif %}
                >
                  Montana
                </option>
                <option
                  value="NE"
                  {% if form.state == 'NE' %}
                    selected
                  {% endif %}
                >
                  Nebraska
                </option>
                <option
                  value="NV"
                  {% if form.state == 'NV' %}
                    selected
                  {% endif %}
                >
                  Nevada
                </option>
                <option
                  value="NH"
                  {% if form.state == 'NH' %}
                    selected
                  {% endif %}
                >
                  New Hampshire
                </option>
                <option
                  value="NJ"
                  {% if form.state == 'NJ' %}
                    selected
                  {% endif %}
                >
                  New Jersey
                </option>
                <option
                  value="NM"
                  {% if form.state == 'NM' %}
                    selected
                  {% endif %}
                >
                  New Mexico
                </option>
                <option
                  value="NY"
                  {% if form.state == 'NY' %}
                    selected
                  {% endif %}
                >
                  New York
                </option>
                <option
                  value="NC"
                  {% if form.state == 'NC' %}
                    selected
                  {% endif %}
                >
                  North Carolina
                </option>
                <option
                  value="ND"
                  {% if form.state == 'ND' %}
                    selected
                  {% endif %}
                >
                  North Dakota
                </option>
                <option
                  value="OH"
                  {% if form.state == 'OH' %}
                    selected
                  {% endif %}
                >
                  Ohio
                </option>
                <option
                  value="OK"
                  {% if form.state == 'OK' %}
                    selected
                  {% endif %}
                >
                  Oklahoma
                </option>
                <option
                  value="OR"
                  {% if form.state == 'OR' %}
                    selected
                  {% endif %}
                >
                  Oregon
                </option>
                <option
                  value="PA"
                  {% if form.state == 'PA' %}
                    selected
                  {% endif %}
                >
                  Pennsylvania
                </option>
                <option
                  value="RI"
                  {% if form.state == 'RI' %}
                    selected
                  {% endif %}
                >
                  Rhode Island
                </option>
                <option
                  value="SC"
                  {% if form.state == 'SC' %}
                    selected
                  {% endif %}
                >
                  South Carolina
                </option>
                <option
                  value="SD"
                  {% if form.state == 'SD' %}
                    selected
                  {% endif %}
                >
                  South Dakota
                </option>
                <option
                  value="TN"
                  {% if form.state == 'TN' %}
                    selected
                  {% endif %}
                >
                  Tennessee
                </option>
                <option
                  value="TX"
                  {% if form.state == 'TX' %}
                    selected
                  {% endif %}
                >
                  Texas
                </option>
                <option
                  value="UT"
                  {% if form.state == 'UT' %}
                    selected
                  {% endif %}
                >
                  Utah
                </option>
                <option
                  value="VT"
                  {% if form.state == 'VT' %}
                    selected
                  {% endif %}
                >
                  Vermont
                </option>
                <option
                  value="VA"
                  {% if form.state == 'VA' %}
                    selected
                  {% endif %}
                >
                  Virginia
                </option>
                <option
                  value="WA"
                  {% if form.state == 'WA' %}
                    selected
                  {% endif %}
                >
                  Washington
                </option>
                <option
                  value="WV"
                  {% if form.state == 'WV' %}
                    selected
                  {% endif %}
                >
                  West Virginia
                </option>
                <option
                  value="WI"
                  {% if form.state == 'WI' %}
                    selected
                  {% endif %}
                >
                  Wisconsin
                </option>
                <option
                  value="WY"
                  {% if form.state == 'WY' %}
                    selected
                  {% endif %}
                >
                  Wyoming
                </option>
              </select>
            </label>

            <button
              type="submit"
              class="animated-button animated-button--hover-white tw-block tw-w-1/2 tw-grow tw-bg-brand-navy tw-text-white"
            >
              Submit
            </button>
          </div>
        {% endform %}
      </div>
    </div>

    <!-- Links -->
    <div class="tw-flex  tw-flex-col tw-items-center tw-items-center tw-justify-center tw-font-poppins tw-text-12 max-md:tw-mt-14 max-md:tw-w-full max-md:tw-border-t max-md:tw-border-black max-md:tw-px-5 max-md:tw-pb-14 max-md:tw-pt-10 max-md:tw-text-center max-md:tw-text-center md:tw-items-start md:tw-py-20 md:tw-pl-8 md:tw-text-14 xl:tw-pl-20">
      <h3 class="tw-font-poppins tw-text-12 tw-font-semibold tw-uppercase tw-tracking-wider md:tw-text-14">
        {{ section.settings.menu.title }}
      </h3>
      <ul class="tw-mt-4 tw-flex tw-flex-col tw-gap-y-1 md:tw-mt-1">
        {% for link in section.settings.menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="tw-mt-5">
          <ul class="tw-flex tw-gap-x-7 tw-text-brand-navy max-md:tw-justify-center md:tw-gap-2.5">
            <li class="tw-size-8 md:tw-size-6">
              <a href="https://www.google.com" target="_blank">{% render 'icon-socials', site: 'instagram' %}</a>
            </li>
            <li class="tw-size-8 md:tw-size-6">
              <a href="https://www.google.com" target="_blank">{% render 'icon-socials', site: 'facebook' %}</a>
            </li>
            <li class="tw-size-8 md:tw-size-6">
              <a href="https://www.google.com" target="_blank">{% render 'icon-socials', site: 'tiktok' %}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label"
    }
  ],
  "default": {}
}
{% endschema %}
