<style>
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1rem;
  }

  .section-{{ section.id }}
  -props {
    --padding-top: {{ section.settings.mobile_padding_top }}rem;
    --padding-bottom: {{ section.settings.mobile_padding_bottom }}rem;
  }

  @media screen and (min-width: 1024px) {
    .section-{{ section.id }}-props {
      --padding-top: {{ section.settings.padding_top }}rem;
      --padding-bottom: {{ section.settings.padding_bottom }}rem;
    }
  }

  .section-{{ section.id }}
  -props {
    margin-top: var(--padding-top);
    margin-bottom: var(--padding-bottom);
  }

  .variant-radio {
    display: none !important;
  }

  .variant-radio:checked + .variant-label {
    background-color: white;
    color: #322F30;
  }
</style>

<product-info id="MainProduct-{{ section.id }}" class="tw-w-full tw-flex tw-justify-center tw-items-center tw-relative section-{{ section.id }}-props">
  <div class="tw-absolute tw-top-full tw-w-full tw-border-b tw-z-10"></div>
  <div class="tw-flex tw-flex-col tw-w-full tw-max-w-screen-2xl">
    <!-- -------------------------- -->
    <!-- Mobile Brand Name -->
    <!-- -------------------------- -->
    <div class="tw-flex tw-font-poppins tw-text-center tw-py-8 tw-flex-col tw-justify-center tw-gap-4 md:tw-hidden">
      <!-- Mobile Brand Name -->
      <span class="tw-text-24">
        {{ product.metafields.custom.product_brand.value.location.value.city }}, {{ product.metafields.custom.product_brand.value.location.value.state }} / {{ product.metafields.custom.product_brand.value.name }}
      </span>
    </div>

    <!-- -------------------------------- -->
    <!-- Column 1 (Image Gallery) -->
    <!-- -------------------------------- -->
    <div class="tw-relative tw-h-full tw-w-full tw-overflow-hidden md:tw-w-1/2 max-md:tw-border-y">
      <div class="swiper-container tw-w-full tw-h-full max-md:tw-max-h-[80vh] md:tw-absolute">
        <div class="swiper-wrapper tw-h-full tw-w-full">
          {% if product.has_only_default_variant == false %}
            <!-- Variant Image -->
            <div class="swiper-slide tw-h-full tw-w-full">
              {{ product.selected_or_first_available_variant.featured_image | image_url: width: 2000 | image_tag: class: 'tw-w-full tw-h-full tw-object-cover tw-object-top' }}
            </div>
          {% endif %}
          {% for image in product.images %}
            {% if image.attached_to_variant? != true  %} 
              <div class="swiper-slide tw-h-full tw-w-full">
                {{ image | image_url: width: 2000 | image_tag: class: 'tw-w-full tw-h-full tw-object-cover tw-object-top' }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="md:tw-w-1/2 tw-flex tw-border-l tw-relative tw-flex-col tw-justify-center">
      <div class="tw-relative tw-overflow-hidden">
        <div class="tw-absolute tw-top-full tw-w-screen tw-border-b tw-z-20"></div>
        <div class="tw-p-24">

          <div class="tw-flex tw-flex-col tw-justify-center tw-gap-4">
            {% if product.metafields.custom.product_brand != blank %}
              <!-- Desktop Brand Name -->
              <span class="tw-text-16 max-md:tw-hidden">
                {{ product.metafields.custom.product_brand.value.location.value.city }}, {{ product.metafields.custom.product_brand.value.location.value.state }} / {{ product.metafields.custom.product_brand.value.name }}
              </span>
            {% endif %}
            <!-- Desktop Title -->
            {% render 'ud-text'
            , text: product.title
            , type: 'mainheader'
            , align: 'start'
            , size: 'medium'
            , color: 'black' %}
            <!-- Product Price -->
            {% assign product_price = product.selected_or_first_available_variant.price | money %}
            {% render 'ud-text'
            , text: product_price
            , type: 'subheader'
            , align: 'start'
            , size: 'large'
            , color: 'black' %}
            <!-- Desktop Description -->
            {% assign product_description = product.description | default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.' %}
            {% render 'ud-text'
              , text: product_description
              , type: 'body'
              , align: 'start'
              , size: 'medium'
              , color: 'black' %}

            <!-- Variant Selector -->
            {%- unless product.has_only_default_variant -%}
              {% for option in product.options_with_values %}
            <div class="tw-flex tw-flex-col tw-gap-4 tw-w-full">
              {%  assign opt_name = option.name |  upcase %}
              {% render 'ud-text'
                , text: opt_name
                , type: 'subheader'
                , align: 'start'
                , size: 'medium'
                , color: 'black' %}
              <select class="tw-w-2/3 tw-border tw-p-4">
              {% for value in option.values %}
                <option>{{value}}</option>
              {% endfor %}
              </select>
            </div>
              {% endfor %}
            {% endunless %}
          </div>
          <!-- ------------------------------ -->
          <!-- Product Variant Selector -->
          <!-- ------------------------------ -->

          
          <!-- Add to cart button (Black Full Width) -->
          <form action='/cart/add' method='post'>
            <div class="tw-flex tw-pt-8 tw-gap-8">
              <div class="tw-flex tw-gap-4">
                <div class="tw-flex tw-w-full tw-gap-2 tw-flex-row tw-items-center">
                  <div class="tw-relative tw-flex tw-items-center tw-border  tw-h-full tw-w-[4.5rem] tw-max-w-28 ">
                    <input
                      type="integer"
                      id="quantity-input"
                      name="quantity"
                      value="1"
                      min="1"
                      max="100"
                      class="tw-h-full tw-w-full tw-text-center tw-text-sm tw-block tw-py-1 tw-bg-brand-bg-light">
                  </div>
                </div>
              </div>
              <input type='hidden' name='id' value='{{ product.selected_or_first_available_variant.id }}'>
              <button
                type="submit"
                class="tw-bg-brand-navy/100 hover:tw-bg-brand-navy/95 focus:tw-bg-brand-navy/95 tw-border-brand-navy/100 tw-text-white tw-w-full tw-flex tw-justify-center tw-border tw-py-2 tw-px-10 tw-transition-button duration-200 ease-in-out tw-font-semibold tw-font-montserrat hover:tw-scale-[102%]">
                ADD TO CART
              </button>
            </div>
          </form>

        </div>
      </div>
      <div>
        <!-- Related Products -->
        <div class="tw-overflow-hidden tw-py-12 tw-p-24">
          <div class="tw-flex tw-flex-col tw-gap-4">
            {%  assign featured_collection = product.metafields.custom.product_brand.value.collection.value %}
            <h3 class="tw-text-24 tw-font-bold">MORE FROM: {{ product.metafields.custom.product_brand.value.name }}</h3>
            <div class="tw-flex tw-gap-8">
              {%  assign p_index = 1 %}
              {% for c_product in featured_collection.products %}
                {% if c_product == product %}
                  {%  continue %}
                {% endif %}
                {% if p_index < 4 %}
                  <a href="{{ c_product.url }}" class="tw-w-1/3 tw-group">
                  <div class="tw-flex tw-flex-col tw tw-gap-2">
                    <div class="tw-h-96 tw-overflow-hidden tw-w-full tw-transition-transform">
                      {{ c_product.featured_image | image_url: width: 800 | image_tag: class: 'tw-w-full tw-h-full tw-transition-transform tw-duration-500 group-hover:tw-scale-105 tw-object-cover' }}
                    </div>
                    {% render 'ud-text'
                    , text: c_product.title
                    , type: 'body'
                    , align: 'start'
                    , size: 'small'
                    , color: 'black' %}
                    </div>
                    </a>
                {%  assign p_index = p_index |  plus: 1 %}
                {%  else %}
                  {%  break  %}
                {% endif %}
              {% endfor %}
            </div>
            <a class="tw-pt-2 tw-underline" href="{{ featured_collection.url }}">
              {% render 'ud-text'
                , text: 'SHOP ALL'
                , type: 'subheader'
                , align: 'start'
                , size: 'medium'
                , color: 'black' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</product-info>

<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  function goToSlide(index) {
    swiper.slideTo(index);
  }
</script>

{% schema %}
  {
    "name": "Main Product",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "select",
        "id": "image_aspect",
        "label": "Image Aspect Ratio (Default 4x3)",
        "default": "4x3",
        "options": [
          {
            "label": "4x3",
            "value": "4x3"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Tall",
            "value": "3x8"
          }
        ]
      },
      {
        "type": "product_list",
        "id": "related_product_list",
        "label": "Suggested Related Products"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Desktop",
        "min": 0,
        "max": 5,
        "default": 2,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Desktop",
        "min": 0,
        "max": 5,
        "default": 2,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "label": "Padding Mobile",
        "min": 0,
        "max": 5,
        "default": 2,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "label": "Padding Mobile",
        "min": 0,
        "max": 5,
        "default": 2,
        "unit": "rem"
      },
      {
        "type": "checkbox",
        "id": "contain",
        "label": "Contain Image?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "popular_item",
        "label": "Display Popular Item Text?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "color_var_images",
        "label": "Show Color Variant Images?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "_basic-variant-selector"
      }
    ],
    "presets": [
      {
        "name": "Main Product"
      }
    ]
  }
{% endschema %}