{% comment %}
  Split Carousel Hero Section
{% endcomment %}
<script defer type="module">
  import { createCarouselFromSection } from "{{ 'ud-hp-hero-carousel.js' | asset_url }}";

  const carousel = createCarouselFromSection('section-{{ section.id }}');

  document.addEventListener('visibilitychange', () => {
    if (document.hidden) {
      if (carousel?.pause) carousel.pause();
    } else {
      const cursiveWord = document.querySelector('#section-{{ section.id }} .js-cursive-word');
      const currentImage = document.querySelector('#section-{{ section.id }} .js-carousel-image.is-current');

      if (cursiveWord && currentImage) {
        const associatedWord = currentImage.dataset.associatedWord;
        if (associatedWord) {
          cursiveWord.textContent = associatedWord;
        }
      }

      if (carousel?.resume) carousel.resume();
    }
  });
</script>

<style>
  #section-{{ section.id }} .is-current {
    opacity: 1;
    z-index: 10;
  }

  #section-{{ section.id }} .is-previous {
    opacity: 1;
    z-index: 0;
  }

  #section-{{ section.id }} .is-inactive {
    opacity: 0;
    z-index: -10;
  }
</style>

<section id="section-{{ section.id }}" class="">
  <div
    class="tw-isolate tw-grid tw-aspect-[2/3] md:tw-aspect-[1/1] lg:tw-aspect-[2/1] lg:tw-grid-cols-2 lg:tw-items-center xl:tw-aspect-[3/1]"
  >
    {% for block in section.blocks %}
      {% liquid
        assign modulus = forloop.index | modulo: 2
        if modulus != 0
          assign col_pos = 'tw-col-start-1 lg:tw-col-start-1'
          assign button_x_pos = 'tw-left-1/2 lg:tw-left-16'
        else
          assign col_pos = 'tw-col-start-1 lg:tw-col-start-2'
          assign button_x_pos = 'tw-right-1/2 lg:tw-right-16'
        endif
        comment
          Do a weird little previous/current class switcheroo here to make things match on mobile.
          This doesn't affect the functionality of the js
        endcomment
        if forloop.index0 == 1
          assign status = 'is-previous'
        elsif forloop.index0 == 0
          assign status = 'is-current'
        else
          assign status = 'is-inactive'
        endif
      %}
      <div
        class="js-carousel-image tw-row-start-1 tw-h-full tw-w-full tw-transition-all tw-duration-700 {{ col_pos }} {{ status }} tw-relative tw-isolate -tw-z-10"
        data-index="{{ forloop.index }}"
        data-associated-word="{{ block.settings.associated_word | downcase }}"
      >
        {{
          block.settings.image
          | image_url: width: 900
          | image_tag: class: 'tw-h-full tw-w-full tw-object-cover  tw-brightness-[0.6]', widths: '300, 500, 700, 900'
        }}
        {% if block.settings.associated_button_text != empty and block.settings.associated_button_link != empty %}
          <div class="tw-absolute {{ button_x_pos }} tw-bottom-8 max-lg:tw-hidden">
            <a
              href="{{ block.settings.associated_button_link }}"
              class="animated-button animated-button--hover-white tw-block tw-cursor-pointer tw-text-nowrap tw-border tw-border-white tw-px-5 tw-py-3 tw-text-18 tw-font-medium tw-uppercase tw-tracking-wider tw-text-white"
            >
              {{ block.settings.associated_button_text }}
            </a>
          </div>
        {% endif -%}
      </div>
    {% endfor %}
    <div class="tw-z-10 tw-col-start-1 tw-row-start-1 tw-text-center !tw-font-noto lg:tw-col-[1/3]">
      <h2 class="tw-text-30 tw-font-semibold tw-text-white max-lg:tw-mt-16 lg:tw-text-48">
        Shop exclusive merch <br>
        from iconic
        <span class="tw-relative tw-inline-flex tw-flex-col tw-overflow-hidden">
          <span class="js-cursive-word tw-relative">venues</span>
          <span class="tw-self-stretch">{% render 'icon-drawn-underline' %}</span>
        </span>
      </h2>
      <p class="tw-mt-4 tw-text-14 tw-text-white lg:tw-mt-6 lg:tw-text-18">Your favorite brands all in one place</p>
      <div class="tw-grid tw-items-center tw-justify-center">
        {% for block in section.blocks %}
          <div
            class="
              js-carousel-button tw-col-start-1 tw-row-start-1 tw-mt-6 tw-transition-all tw-duration-700 lg:tw-hidden
              {% if block.settings.associated_button_text == empty or block.settings.associated_button_link == empty %}
              tw-invisible
              {% endif %}
              {% if forloop.index0 == 0 %} is-current {% else %} is-inactive {% endif %}
            "
            data-index="{{ forloop.index }}"
          >
            <a
              href="{{ block.settings.associated_button_link }}"
              class="animated-button animated-button--hover-white tw-inline-block tw-cursor-pointer tw-text-nowrap tw-border tw-border-white tw-px-5 tw-py-3 tw-text-14 tw-uppercase tw-tracking-wider tw-text-white"
            >
              {{ block.settings.associated_button_text }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Split Carousel Hero",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Shop exclusive merch from iconic"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Your favorite brands all in one place."
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "text",
          "id": "associated_word",
          "label": "Cursive Word"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Left Side Image"
        },
        {
          "type": "text",
          "id": "associated_button_text",
          "label": "Associated Button Text"
        },
        {
          "type": "url",
          "id": "associated_button_link",
          "label": "Associated Button Link"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Split Carousel Hero"
    }
  ]
}
{% endschema %}
