{% comment %}
  Split Carousel Hero Section
{% endcomment %}
<script defer type='module'>
  import { createCarouselFromSection } from "{{ 'ud-hp-hero-carousel.js' | asset_url }}"
  createCarouselFromSection('section-{{ section.id }}')
</script>

<style>
  #section-{{ section.id }} .is-current {
    opacity: 1;
    z-index: 10;
  }

  #section-{{ section.id }} .is-previous {
    opacity: 1;
    z-index: -10;
  }

  #section-{{ section.id }} .is-inactive {
    opacity: 0;
    z-index: -10;
  }
</style>

<section id="section-{{ section.id }}" class=''>
	<div class='tw-grid lg:tw-grid-cols-2 tw-items-center tw-isolate'>
    {% for block in section.blocks %}
      {% liquid
        assign modulus = forloop.index | modulo: 2
        if modulus != 0
          assign col_pos = 'tw-col-start-1 lg:tw-col-start-1'
          assign button_x_pos = 'tw-left-16'
        else
          assign col_pos = 'tw-col-start-1 lg:tw-col-start-2'
          assign button_x_pos = 'tw-right-16'
        endif
        if forloop.index0 == 0
          assign status = 'is-current'
        elsif forloop.index0 == 1
          assign status = 'is-previous'
        else
          assign status = 'is-inactive'
        endif
      %}
      <div 
        class='js-carousel-image tw-transition-all tw-duration-700 tw-h-full tw-w-full tw-row-start-1 {{ col_pos }} {{ status }} -tw-z-10 tw-relative tw-isolate'
        data-index="{{ forloop.index }}" 
        data-associated-word="{{ block.settings.associated_word | downcase }}" 
      >
        {{ block.settings.image | image_url: width: 900 | image_tag: class: 'tw-h-full tw-w-full object-cover  tw-brightness-[0.6]' }}
        {% if block.settings.associated_button_text != empty and block.settings.associated_button_link != empty %}
          <div class='tw-absolute {{ button_x_pos }} tw-bottom-8'>
            <a href='{{ block.settings.associated_button_link }}' 
              class='tw-text-white tw-text-18 tw-px-5 tw-py-3 tw-border tw-border-white tw-uppercase tw-tracking-wider tw-cursor-pointer'>
              {{ block.settings.associated_button_text }}
            </a>
          </div>
        {% endif %}`
      </div>
    {% endfor %}
    <div class='tw-col-start-1 tw-row-start-1 lg:tw-col-[1/3] tw-text-center tw-z-10 !tw-font-noto'>
      <h2 class='tw-text-white tw-font-semibold tw-text-48'>Shop exclusive merch <br/> from iconic 
        <span class='tw-inline-flex tw-flex-col tw-overflow-hidden tw-relative'>
          <span class='js-cursive-word tw-relative'>venues</span>
          <span class='tw-self-stretch'>{% render 'icon-drawn-underline'  %}</span>
        </span>
      </h2>
      <p class='tw-text-white tw-mt-6 tw-text-18'>Your favorite brands all in one place</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Split Carousel Hero",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Shop exclusive merch from iconic"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Your favorite brands all in one place."
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "text",
          "id": "associated_word",
          "label": "Cursive Word"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Left Side Image"
        },
        {
          "type": "text",
          "id": "associated_button_text",
          "label": "Associated Button Text"
        },
        {
          "type": "url",
          "id": "associated_button_link",
          "label": "Associated Button Link"
        },
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Split Carousel Hero"
    }
  ]
}
{% endschema %}
