{% style %}

  .section-{{ section.id }} {
    background-color: {{ section.settings.background_color }}{% if section.settings.background_image != blank %}77{% endif %};
    margin: 0 auto;
    display: flex;
    padding-top: {{ section.settings.padding_top }}rem;
    padding-bottom: {{ section.settings.padding_bottom }}rem;
    padding-left: {{ section.settings.padding_left }}rem;
    padding-right: {{ section.settings.padding_right }}rem;
    gap: {{ section.settings.y_gap }}rem {{ section.settings.x_gap }}rem;
    justify-content: {{ section.settings.justify_content }};

    align-items: {{ section.settings.align_items }};
    flex-direction: {{ section.settings.flex_direction }};

    {% if section.settings.container_width == 'full_width' %}
      width: 100%;
    {% elsif section.settings.container_width == 'lg_desktop' %}
      max-width: var(--container-width, 1440px);
    {% elsif section.settings.container_width == 'md_desktop' %}
      max-width: var(--container-width, 1440px);
    {% elsif section.settings.container_width == 'sm_desktop' %}
      max-width: var(--container-width, 1280px);
    {% elsif section.settings.container_width == 'tablet' %}
      max-width: var(--container-width, 768px);
    {% else section.settings.container_width == 'mobile' %}
      max-width: var(--container-width, 448px);
    {% endif %}

    {% if section.settings.content_overflow == "scroll" %}
      overflow-x: auto;
      white-space: nowrap;
    {% elsif section.settings.content_overflow == "wrap" %}
    flex-wrap: wrap;
    overflow: visible;
    {% elsif section.settings.content_overflow == "wrap_reverse" %}
    flex-wrap: wrap-reverse;
    overflow: visible;
    {% else %}
    flex-wrap: nowrap;
    {% endif %}
  }

  @media screen and (max-width: 1025px) {
    .section-{{ section.id }} {
      flex-direction: {{ section.settings.tablet_flex_direction }};
    }
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}rem;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}rem;
      flex-direction: {{ section.settings.mobile_flex_direction }};
    }
  }
{% endstyle %}

{% if section.settings.background_image != blank %}
<div class="tw-w-full tw-relative tw-h-full tw-max-w-screen-3xl tw-bg-cover tw-bg-center tw-mx-auto" style="background-image: url('{{ section.settings.background_image | image_url: width: 4000 }}');">
{% endif %}
<div class="section-{{ section.id }}  tw-z-10 tw-w-full tw-h-full">
  {% content_for 'blocks' %}
  </div>
  {% if section.settings.background_image != blank %}
  </div>
  {% endif %}
{% schema %}
{
  "name": "Flexbox",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "label": "Desktop Padding Top",
      "default": 4
    },
    {
      "type": "range",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "id": "padding_bottom",
      "label": "Desktop Padding Bottom",
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "label": "Mobile Padding Top",
      "default": 4
    },
    {
      "type": "range",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "id": "mobile_padding_bottom",
      "label": "Mobile Padding Bottom",
      "default": 4
    },
    {
      "type": "range",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "id": "padding_left",
      "label": "Padding Left",
      "default": 2
    },
    {
      "type": "range",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "rem",
      "id": "padding_right",
      "label": "Padding Right",
      "default": 2
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "Use this instead of a color for the background. Get rid of the image to use the color again."
    },
    {
      "type": "select",
      "id": "flex_direction",
      "label": "Flex Direction",
      "options": [
        { "value": "row", "label": "Row" },
        { "value": "column", "label": "Column" }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "tablet_flex_direction",
      "label": "Tablet Flex Direction",
      "options": [
        { "value": "row", "label": "Row" },
        { "value": "column", "label": "Column" }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "mobile_flex_direction",
      "label": "Mobile Flex Direction",
      "options": [
        { "value": "row", "label": "Row" },
        { "value": "column", "label": "Column" }
      ],
      "default": "column"
    },
    {
      "type": "range",
      "id": "x_gap",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "unit": "rem",
      "label": "Horizontal Gap Between Blocks",
      "default": 2
    },
    {
      "type": "range",
      "id": "y_gap",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "unit": "rem",
      "label": "Vertical Gap Between Blocks",
      "default": 2
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify Content",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "End" },
        { "value": "space-between", "label": "Space Between" },
        { "value": "space-around", "label": "Space Around" },
        { "value": "space-evenly", "label": "Space Evenly" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "align_items",
      "label": "Align Items",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "End" },
        { "value": "stretch", "label": "Stretch" },
        { "value": "baseline", "label": "Baseline" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "Max Width Of Section",
      "options": [
        { "value": "mobile", "label": "448px (Mobile)" },
        { "value": "tablet", "label": "768px (Tablet)" },
        { "value": "sm_desktop", "label": "1024px (Sm Desktop)" },
        { "value": "md_desktop", "label": "1280px (Md Desktop)" },
        { "value": "lg_desktop", "label": "1440px (Lg Desktop)" },
        { "value": "full_width", "label": "Full Width" }
      ],
      "default": "full_width"
    },
    {
      "type": "select",
      "id": "content_overflow",
      "label": "Content Overflow",
      "options": [
        { "value": "fit", "label": "Fit Content" },
        { "value": "wrap", "label": "Wrap Content" },
        { "value": "wrap_reverse", "label": "Reverse Wrap Content" },
        { "value": "scroll", "label": "Horizontal Scroll" }
      ],
      "default": "fit"
    }
  ],
  "blocks": [{ "type": "@theme" }],
  "presets": [
    {
      "name": "Base Flexbox"
    },
    {
      "name": "Checkered Images",
      "settings": {
        "y_gap": 0
      },
      "blocks": [
        {
          "type": "image-text-pair",
          "settings": {
            "image_position": "left"
          }, 
          "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "Lorem ipsum dolor sit amet",
            "weight": "tw-font-bold",
            "type": "header",
            "align": "center"
          }
        },
        {
          "type": "rich-text",
          "settings": {
            "text": "<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>",
            "align": "center"
          }
        },
        {
          "type": "button",
          "settings": {
            "text": "Get Started",
            "url": "#",
            "fullwidth": false,
            "type": "outlinedBlack",
            "align": "center"
          }
        }
      ]
        },
        {
          "type": "image-text-pair",
          "settings": {
            "image_position": "right"
          },
          "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "Lorem ipsum dolor sit amet",
            "type": "header",
            "weight": "tw-font-bold",
            "align": "center"
          }
        },
        {
          "type": "rich-text",
          "settings": {
            "text": "<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>",
            "align": "center"
          }
        },
        {
          "type": "button",
          "settings": {
            "text": "Get Started",
            "url": "#",
            "fullwidth": false,
            "type": "outlinedBlack",
            "align": "center"
          }
        }
      ]
        },
        {
          "type": "image-text-pair",
          "settings": {
            "image_position": "left"
          },
          "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "Lorem ipsum dolor sit amet",
            "weight": "tw-font-bold",
            "type": "header",
            "align": "center"
          }
        },
        {
          "type": "rich-text",
          "settings": {
            "text": "<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>",
            "align": "center"
          }
        },
        {
          "type": "button",
          "settings": {
            "text": "Get Started",
            "url": "#",
            "fullwidth": false,
            "type": "outlinedBlack",
            "align": "center"
          }
        }
      ]
        }
      ]
    }
  ]
}
{% endschema %}
